.menu-nav {
  list-style-type: none;
  position: relative;
}

.menu-nav li {
  display: inline-block;
  margin-left: 1em;
}
.menu-nav li a {
  color: $light-color;
  display: block;
  padding: 1em 2em;
  transition: all 0.2s ease 0s;
  @include large-screens() {
    font-size: 1em;
  }
  @include medium-screens() {
    font-size: 0.8em;
    padding: 1em 1.5em;
  }
  @include small-screens() {
    display: none;
  }
}
.menu-nav li a:hover {
  background-color: $red;
  border: none;
  border-radius: 20px;
}
@include small-screens {
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: white;
      transition: all 0.5s ease-out;
    }

    /*Rotate Into X With Menu Lines*/
    &.close {
      transform: rotate(180deg);

      .btn-line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }
}
