@import "normalize";

/**********************************
***********************************
    Variables
***********************************
**********************************/

/* Colors */
$black: #000000;
$red: #c61b1e;
$light-color: #dad2d8;
$gray: #414042;
$dark-purple: #00171f;

/* Screen Sizes */
$xs-screens: 48em;
$small-screens: 52em;
$medium-screens: 64em;
$large-screens: 78em;

/**********************************
***********************************
    Mixins
***********************************
**********************************/
@mixin xs-screens {
  @media only screen and (max-width: $xs-screens) {
    @content;
  }
}

@mixin small-screens {
  @media only screen and (max-width: $small-screens) {
    @content;
  }
}

@mixin medium-screens {
  @media only screen and (max-width: $medium-screens - 0.0625) {
    @content;
  }
}
@mixin large-screens {
  @media only screen and (min-width: $medium-screens) {
    @content;
  }
}

/**********************************
***********************************
    Base Styles
***********************************
**********************************/

header {
  width: 100%;
  background-color: $black;
  img {
    width: 6em;
  }
}

a {
  text-decoration: none;
  color: $black;
}
/**********************************
***********************************
    Layout Styles
***********************************
**********************************/
/*header section*/
.header-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-nav {
  list-style-type: none;
  position: relative;
}

.menu-nav li {
  display: inline-block;
  margin-left: 1em;
}
.menu-nav li a {
  color: $light-color;
  display: block;
  padding: 1em 2em;
  transition: all 0.2s ease 0s;
  @include large-screens() {
    font-size: 1em;
  }
  @include medium-screens() {
    font-size: 0.8em;
    padding: 1em 1.5em;
  }
  @include small-screens() {
    display: none;
  }
}
.menu-nav li a:hover {
  background-color: $red;
  border: none;
  border-radius: 20px;
}
.logo {
  margin-right: auto;
  padding: 2em 0;
}

/*hero section*/

.hero {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
  text-align: center;
  padding-bottom: 1em;
  h1 {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 1em 0;
  }
  h2 {
    color: #fff;
    padding-bottom: 3em;
  }
}

.hero-image {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.3;
}

/*Below Hero Section*/

.under-hero {
  background: #000;
  height: 100%;
  padding: 1em 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include small-screens() {
    flex-direction: column;
  }
  .phone-number {
    color: white;
  }
}
.redbtn {
  padding: 0.8em 2em;
  border: none;
  border-radius: 20px;
  background-color: $red;
  color: $light-color;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  &:hover {
    background-color: $gray;
    border: 1px solid $red;
  }
}

/*Main Content*/
.featured-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5em 0;

  .feature-wrap {
    flex-basis: 27%;
    text-align: center;
  }
}
footer {
  text-align: center;
  background-color: $gray;
  color: white;
  padding: 2.5em;
}
