/**********************************
***********************************
    Variables
***********************************
**********************************/

/* Colors */
$black: #000000;
$red: #c61b1e;
$light-color: #dad2d8;
$gray: #414042;
$dark-purple: #00171f;

/* Screen Sizes */
$xs-screens: 48em;
$small-screens: 52em;
$medium-screens: 64em;
$large-screens: 78em;
